process {

    errorStrategy = 'terminate'

    withName: identify {
        container = 'metashot/gtdbtk:1.5.0-1'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(8.GB, params.max_memory) }
        time = params.max_time
    }

    withName: align {
        container = 'metashot/gtdbtk:1.5.0-1'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(16.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: classify {
        container = 'metashot/gtdbtk:1.5.0-1'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(240.GB * task.attempt, params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: genome_filter {
        container = 'metashot/utils:1.1.0-2'
        cpus = check_max(2, params.max_cpus)
        memory = check_max(8.GB, params.max_memory)
        time = params.max_time
    }
}
