classify_cpus_list = [8, 1, 1]
classify_memory_list = [160.GB, 320.GB, 480.GB]

process {

    errorStrategy = 'terminate'

    withName: identify {
        container = 'metashot/gtdbtk:1.3.0-3'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(8.GB, params.max_memory) }
        time = params.max_time
    }

    withName: align {
        container = 'metashot/gtdbtk:1.3.0-3'
        cpus = { check_max(8, params.max_cpus) }
        memory = { check_max(16.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: classify {
        container = 'metashot/gtdbtk:1.3.0-3'
        // see: https://github.com/Ecogenomics/GTDBTk/issues/124
        cpus = { check_max(classify_cpus_list.get(task.attempt-1), params.max_cpus) }
        memory = { check_max(classify_memory_list.get(task.attempt-1), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: genome_filter {
        container = 'metashot/utils:1.1.0-2'
        cpus = check_max(2, params.max_cpus)
        memory = check_max(8.GB, params.max_memory)
        time = params.max_time
    }
}
